<template>
  <div class="add-button">
    <button
      type="button"
      class="bg-transparent bg-green-500 text-white font-semibold py-2 px-4 border border-green-500 border-transparent rounded"
      @click="click"
    >
      {{ label }}
    </button>
  </div>
</template>

<script>
export default {
  name: "AddButton",
  props: {
    click: Function,
    label: String
  }
};
</script>
