<template>
  <div class="add-button">
    <button
      type="button"
      class="bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded"
      @click="click"
    >
      {{ label }}
    </button>
  </div>
</template>

<script>
export default {
  name: "RemoveButton",
  props: {
    click: Function,
    label: String
  }
};
</script>
