<template>
  <div class="container">
    <CardForm
      :form-data="dataObject"
      class="w-1/2 mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 mb-4"
    />

    <transition-group
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
      :duration="{ enter: 200, leave: 200 }"
      name="fade"
      mode="out-in"
    >
      <Card v-for="data in dataObject" :key="data.id" :data="data"></Card
    ></transition-group>
  </div>
</template>

<script>
import Card from "@/components/Card";
import CardForm from "@/components/forms/CardForm";

export default {
  name: "Home",
  components: {
    Card,
    CardForm
  },
  data: () => {
    return {
      dataObject: [
        {
          id: 1,
          title: "Erste Karte",
          description: "Beispieltext",
          actionUrl: "https://www.heise.de",
          actionLabel: "Weiter zu heise"
        },
        {
          id: 2,
          title: "Zweite Karte",
          description: "Beispieltext 2",
          actionUrl: "https://www.golem.de",
          actionLabel: "Weiter zu Golem"
        },
        {
          id: 3,
          title: "Dritte Karte",
          description: "Beispieltext 3",
          actionUrl: "https://www.heise.de",
          actionLabel: "Weiter zu heise"
        },
        {
          id: 4,
          title: "Vierte Karte",
          description: "Beispieltext 4",
          actionUrl: "https://www.google.de",
          actionLabel: "Weiter zu Google"
        }
      ]
    };
  }
};
</script>
