<template>
  <div
    class="p-3 rounded shadow-md hover:shadow-lg transition-all transform hover:z-10 hover:scale-110 duration-500 ease-in-out"
  >
    <div class="pb-3 font-sans text-xl">{{ data.title }}</div>
    <div class="h-20">{{ data.description }}</div>
    <div class="border-t-2 mt-2 pt-2 border-gray-100 flex justify-end">
      <a class="underline" :href="data.actionUrl">
        {{ data.actionLabel }}
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: {
    data: Object
  }
};
</script>
