<template>
  <nav class="flex items-center justify-between flex-wrap bg-indigo-700 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-xl tracking-tight">Vue + PostCSS + Tailwind Playground</span>
    </div>
    <div class="block lg:hidden">
      <button
        class="flex items-center px-3 py-2 border rounded text-purple-200 border-teal-400 hover:text-white hover:border-white"
      >
        <svg
          class="fill-current h-3 w-3"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <router-link
          class="block mt-4 lg:inline-block lg:mt-0 text-purple-200 hover:text-white mr-4"
          to="/"
          >Home
        </router-link>
        <router-link
          class="block mt-4 lg:inline-block lg:mt-0 text-purple-200 hover:text-white mr-4"
          to="/about"
          >About
        </router-link>
        <router-link
          class="block mt-4 lg:inline-block lg:mt-0 text-purple-200 hover:text-white mr-4"
          to="/Blog"
          >Blog
        </router-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Nav"
};
</script>
