<template>
  <div name="card-form">
    <Input input-name="Header Text" v-model="title" />
    <Input input-name="Beschreibung" v-model="description" />
    <Input input-name="Footer Text" v-model="actionLabel" />
    <Input input-name="Footer URL" v-model="actionUrl" />
    <AddButton label="Karte hinzufügen" :click="addCard" />
    <DeleteButton label="Letzte Karte löschen" :click="deleteLastCard" />
  </div>
</template>

<script>
import Input from "@/components/forms/fields/TextField.vue";
import AddButton from "@/components/buttons/AddButton.vue";
import DeleteButton from "@/components/buttons/DeleteButton.vue";

export default {
  name: "CardForm",
  props: {
    formData: Array
  },
  components: {
    Input,
    AddButton,
    DeleteButton
  },
  data: function() {
    return {
      title: "",
      description: "",
      actionLabel: "",
      actionUrl: ""
    };
  },
  methods: {
    deleteLastCard: function() {
      this.formData.pop();
    },
    addCard: function() {
      const highestId =
        this.formData.length > 0
          ? this.formData.reduce((prev, current) =>
              prev.id > current.id ? prev.id : current.id
            )
          : 0;

      const newCard = {
        id: highestId + 1,
        title: this.title.length > 0 ? this.title : "Leerer Titel",
        description:
          this.description > 0 ? this.description : "Leere Beschreibung",
        actionLabel: this.actionLabel > 0 ? this.actionLabel : "Leere Action",
        actionUrl: this.actionUrl > 0 ? this.actionUrl : "https://www.google.de"
      };

      this.formData.push(newCard);
    }
  }
};
</script>
